.mybutton {
background-color:#1cc0b5;
color: var(--fourth-color);
display: block;
margin: auto;
align-self: center;
font-size: 1.1rem;
border: none;
border-radius: 5px; 
align-items: center;
height: 40px;
width: 70px;
}

.mybutton:hover{
background-color:#095c57;
color: var(--fourth-color);
    
}

.main-body{
   background: linear-gradient(45deg, #fddb92, #d1fdff);
    
}
.fourth{
 background-color:#fff;
}

.container-fluid .correct{
background-color: #9af295;
}

.container-fluid .wrong{
    background-color:#ff8989;
}

.container-fluid h2{
    font-size: 1.2rem;
    margin-bottom: 15px;
}
.container-fluid hr{
    font-size: 5px;

}
.container-fluid p{
    font-size: 20px;
    display: block;
    margin: auto;
    align-self: center;
    text-align: center;
    margin-top: 10px;
    
}
.opt-ul li{
    border: 1px solid black;
    list-style: none;
    margin-left: none;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: .9rem;
}


:root{

    --primary-color: #9A3F3F;
    --seconday-color:#C1856D;
    --third-color:#E6CFA9;
    --fourth-color:#FBF9D1;
    --fifth-color:#8C1007;

}