.mybutton {
background-color:var(--primary-color);
color: var(--fourth-color);
display: block;
align-self: center;
justify-content: center;
height: 45px;
width: 70px;
}

.mybutton:hover{
background-color:var(--fifth-color);
color: var(--fourth-color);
    
}

.main-body{
    background-color: var(--seconday-color);
    
}
.fourth{
 background-color: var(--fourth-color);
}

.container-fluid .correct{
background-color: #9af295;
}

.container-fluid .wrong{
    background-color:#ff8989;
}

.container-fluid h2{
    font-size: 24px;
    margin-bottom: 15px;
}
.container-fluid hr{
    font-size: 5px;

}
.container-fluid p{
    font-size: 20px;
    margin: auto;
    
}
.opt-ul li{
    border: 1px solid black;
    list-style: none;
    margin-left: none;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}


:root{

    --primary-color: #9A3F3F;
    --seconday-color:#C1856D;
    --third-color:#E6CFA9;
    --fourth-color:#FBF9D1;
    --fifth-color:#8C1007;

}